header{
    //background-color: #333;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 3;
  .container{
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 15px;
      height: 1px;
      width: calc(100% - 30px);
      background-color: #a2a2a2;
    }
        .head{
          display: flex;
          justify-content: space-between;
          align-items: center;
          .site-name{
            font-size: 35px;
             font-weight: bold;
            padding: 20px;
            color: $mainColor;
          }
          .ayaa{
            font-size: 25px;
            width: fit-content;
            position: relative;
            overflow: hidden;
            -webkit-text-fill-color:transparent;
            transition: all .5s;
            &::after{
                content:attr(data-ayaa);
                position: absolute;
                top:0;
                right:0;
                width:0;
                height:100%;
                overflow: hidden;
                transition: all .5s;
                -webkit-text-fill-color: $mainColor;
                // -webkit-text-stroke:1px yellow;
                animation:fill-effect 2s infinite linear;
            }
            @keyframes fill-effect{
                0%{
                   
                    width: 0%
                     }
                100%{
                   
               width: 110%
                }
            }
            @media (max-width:767px){
              display:none;
            }
          }
          .logo{
            width:50px;
            img{
                width: 100%;
            }
          }
        }
      }

nav{
  .navbar{
display: flex;
justify-content: space-evenly;
    li{
      padding:15px;
      a{
        text-decoration: none;
        color:beige;
        font-weight: bold;
        font-size:20px;
        &.active{
          color:$brownColor;
        }
        @media (max-width:767px){
          font-size:16px;
          font-weight: normal;
        }
      }
      @media (max-width:767px){
      padding:10px
      }
    }
  }
}
}