.azkar-mesaa{
    background-image: url("makka.jpg");
    background-size: cover;
    background-attachment:fixed;
    position:relative;
    &::before{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:100%;
        width:100%;
        background-color:rgba(#333, .7);
    }
.container{
    padding-top:150px;
    padding-bottom:40px;

   
}

}